# Konfigurationsdatei mit Passwörtern
config.php

# Ordner für VS Code Einstellungen
.vscode/

# Ordner für hochgeladene Benutzer-Dateien
/public/uploads/

# Angular dependencies
/src/angular-frontend/node_modules/